<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles/index.css">
  <title></title>
</head>

<body>
  <div class="navbar-container">
    <%- include('navbar', {user: locals.user}) %>
  </div>

  <header>
    <% if (locals.user) {%>
      <h1>WELCOME BACK <%= user.username %>
      </h1>

      <% } else { %>
        <h1>Welcome to (App Name)</h1>
        <h3>Hi there, log in or sign up.</h3>
        <div class="log-in-container">
          <form action="/log-in" method="POST" class="log-in-form">
            <label for="username">Username: </label>
            <input id="username" name="username" placeholder="username" type="text" />
            <label for="password">Password: </label>
            <input id="password" name="password" type="password" />
            <button>Log In</button>
          </form>
        </div>
        <%} %>
  </header>
  
  <div class="main-content-container">
    
            <% if (locals.user && locals.user.member !=false) {%>
              <h1>Add a message<%= user.username %>
              </h1>
              <%- include('addMessageForm') %>
                <% } %>
        <div class="message-feed">
          <h2 class="newsfeed-title">News Feed</h2>
          <%- include('messages', {messages: messages}) %>
        </div>

  </div>

</body>

</html>