


  <% if (locals.user && locals.user.member === true) {%>
    <ul>
        <% messages.map((message) => { %>
          <li> User: <%= message.author_username %> <br> <%= message.message %> 
            Date: <%= message.date_posted.toDateString() %>  Time: <%= message.time_posted %>  
          </li>
        <% }) %>
      </ul>
  <% } else if(locals.user) { %>
    <ul>
        <% messages.map((message) => { %>
          <li><%= message.message %>s</li>
        <% }) %>
      </ul>
  <%}%>