


  <% if (locals.user && locals.user.member === true) {%>
    <% messages.map((message) => { %>
      <div class="message-container">
        <h4 class="message-author"><%= message.author_username %></h4>
        <p class="message-text"> <%= message.message %> </p>
        <p class="message-date-time">Date: <%= message.date_posted.toDateString() %>  Time: <%= message.time_posted %>  </p>
      </div>
    <% }) %>
  <% } else if(locals.user) { %>
    
        <% messages.map((message) => { %>
          <div class="message-container">
            <p class="message-text"> <%= message.message %> </p>
          </div>
        <% }) %>
  <%}%>